<div data-am-widget="slider" class="am-slider am-slider-b1" data-am-slider='{&quot;controlNav&quot;:false}'>
    <ul class="am-slides">
        <#list advs as adv>
        <li>
            <img src="${adv.imgurl}">
            <div class="blog-slider-desc am-slider-desc ">
                <div class="blog-text-center blog-slider-con">
                    <span><a href="" class="blog-color">心情短语</a></span>
                    <h1 class="blog-h-margin"><a href="">${adv.title}</a></h1>
                    <p>${adv.content}</p>
                    <span class="blog-bor">${(l.createTime?string("yyyy/MM/dd"))!}</span>
                    <br><br><br><br><br><br><br>
                </div>
            </div>
        </li>
    </#list>
    </ul>
</div>