<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">

<head>
    <link rel="icon" type="image/x-icon" href="/static/images/touxiang.jpg"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="keywords" content="梦月"/>
    <meta name="description" content="梦月"/>
    <title>梦月</title>
    <link rel="stylesheet" rev="stylesheet" href="/static/style/style.css" type="text/css" media="screen"/>
    <script src="/static/style/common.js" type="text/javascript"></script>
    <script src="/static/style/c_html_js_add.js" type="text/javascript"></script>
    <script src="/static/style/custom.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>