<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="zh-CN"/>
    <meta name="keywords" content="你我,圈圈说,汉中,汉中圈圈,你我,如是观,心理,感情,youmew"/>
    <meta name="description" content="你我，缘自圈圈说，记载着圈圈的生活过往，只为留住那份曾经的感动；圈圈，又名小尤，前半生执著于感情，命途多舛，故孑然一身。"/>
    <title>2018年就一个字：拼！​ - 大生活 - 你我 </title>
    <link rel="stylesheet" rev="stylesheet" href="/static/style/style.css" type="text/css" media="screen"/>
    <script src="/static/style/common.js" type="text/javascript"></script>
    <script src="/static/style/c_html_js_add.js" type="text/javascript"></script>
    <script src="/static/style/custom.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="/favicon.ico"/>
</head>