<!doctype html>
<html>
<#include "/head.html">
<body id="blog-article-sidebar">
<!-- header start -->
<!--<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">-->
    <!--<div class="am-u-sm-8 am-u-sm-centered">-->
        <!--<img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo"/>-->
        <!--<h2 class="am-hide-sm-only">中国首个开源 HTML5 跨屏前端框架</h2>-->
    <!--</div>-->
<!--</header>-->
<!-- header end -->
<hr>

<!-- nav start -->
<#include "/nav.html">
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
  <figure data-am-widget="figure" class="am am-figure am-figure-default "   data-am-figure="{  pureview: 'true' }">
      <div id="container">          
          <div><img src="../static/images/01.jpg"><h3>Agfa</h3></div>
          <div><img src="../static/images/02.jpg"><h3>Auto</h3></div>
          <div><img src="../static/images/03.jpg"><h3>Bald eagle</h3></div>
          <div><img src="../static/images/04.jpg"><h3>Black swan</h3></div>
          <div><img src="../static/images/05.jpg"><h3>Book shelf</h3></div>
          <div><img src="../static/images/06.jpg"><h3>Camera</h3></div>
          <div><img src="../static/images/07.jpg"><h3>Camera</h3></div>
          <div><img src="../static/images/25.jpg"><h3>Vintage camera</h3></div>
          <div><img src="../static/images/09.jpg"><h3>Coffee</h3></div>
          <div><img src="../static/images/10.jpg"><h3>Cookies</h3></div>
          <div><img src="../static/images/11.jpg"><h3>Cubes</h3></div>
          <div><img src="../static/images/12.jpg"><h3>DJ</h3></div>
          <div><img src="../static/images/13.jpg"><h3>Doors</h3></div>
          <div><img src="../static/images/14.jpg"><h3>Matchbox</h3></div>
          <div><img src="../static/images/15.jpg"><h3>Freiburg</h3></div>
          <div><img src="../static/images/16.jpg"><h3>Henna</h3></div>
          <div><img src="../static/images/17.jpg"><h3>Home office</h3></div>
          <div><img src="../static/images/18.jpg"><h3>iPad</h3></div>
          <div><img src="../static/images/19.jpg"><h3>Keyboard</h3></div>
          <div><img src="../static/images/20.jpg"><h3>Lynx</h3></div>
          <div><img src="../static/images/21.jpg"><h3>Mac</h3></div>
          <div><img src="../static/images/22.jpg"><h3>Notebook</h3></div>
          <div><img src="../static/images/23.jpg"><h3>Thoughts</h3></div>
          <div><img src="../static/images/24.jpg"><h3>Office</h3></div>
          <div><img src="../static/images/25.jpg"><h3>Children</h3></div>
          <div><img src="../static/images/26.jpg"><h3>Portrait</h3></div>
          <div><img src="../static/images/27.jpg"><h3>Startup</h3></div>
          <div><img src="../static/images/28.jpg"><h3>Sun</h3></div>
          <div><img src="../static/images/29.jpg"><h3>The Eiffel Tower</h3></div>
          <div><img src="../static/images/30.jpg"><h3>Water drops</h3></div>
          
    </div> 
  </figure>

</div>
<!-- content end -->
<#include "/footer.html">
</body>
</html>