<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>有一种思念，是淡淡的幸福-谭少军个人博客网站</title>
    <meta name="keywords" content="谭少军个人博客网站,谭少军个人网站，谭少军博客,个人博客,个人网站"/>
    <meta name="description" content="谭少军个人原创博客，提供个人博客，个人网站源码分享"/>
    <link href="/static/css/index.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
    <script src="/static/js/modernizr.js"></script>
</head>
<body>
<header>
    <h1><a href="/">Missing </a></h1>
    <!--<p>有一种思念，是淡淡的幸福；有一种幸福，是常常的牵挂；有一种牵挂，是远远地欣赏.......</p>-->
    <p>这世界要抛弃谁，不会提前打招呼</p>
</header>
<div class="container">
    <object id="customMenu" data="/static/images/nav.swf" width="528" height="70" type="application/x-shockwave-flash">
        <param name="allowScriptAccess" value="always">
        <param name="allownetworking" value="all">
        <param name="allowFullScreen" value="true">
        <param name="wmode" value="transparent">
        <param name="menu" value="false">
        <param name="scale" value="noScale">
        <param name="salign" value="1">
    </object>
    <div id="navigationbar">
        <ul>
            <li><a href="#">网站首页</a></li>
            <li><a href="about.html">关于我</a></li>
            <li><a href="moodlist.html">碎言碎语</a></li>
            <li><a href="newlist.html">技术探讨</a></li>
            <li><a href="newlist.html">慢生活</a></li>
            <li><a href="ablumlist.html">我的相册</a></li>
            <li><a href="book.html">留言版</a></li>
        </ul>
        <script src="/static/js/silder.js"></script><!--获取当前页导航 高亮显示标题-->
    </div>
</div>
<article>
    <!--<div class="pho">-->
    <!--<ul>-->
    <!--<li><a href="#pic01"><img src="/static/images/01.jpg"></a></li>-->
    <!--<li><a href="#pic02"><img src="/static/images/02.jpg"></a></li>-->
    <!--<li><a href="#pic03"><img src="/static/images/03.jpg"></a></li>-->
    <!--</ul>    -->
    <!--</div>-->
    <!--<div class="blank"></div>-->

    <#list logs as item>
    <div class="blog">
        <h2> ${item.head}</h2>
        <ul>
            <img src=${item.picture}>
            <h3 class="title"><a href="http://www.yangqq.com/news/read/2013-06-11/212.html"
                                 id="pic01">${item.title}</a>
            </h3>
            <p> ${item.content}</p>
        </ul>
    </div>
</#list>

<!--<div class="blog">-->
    <!--<h2>Life</h2>-->
    <!--<ul>-->
        <!--<img src="/static/images/01.jpg">-->
        <!--<h3 class="title"><a href="http://www.yangqq.com/news/read/2013-06-11/212.html"-->
                             <!--id="pic01">有一种思念，是淡淡的幸福,一个心情一行文字</a>-->
        <!--</h3>-->
        <!--<p>1)-->
            <!--有一种思念，是淡淡的幸福；有一种幸福，是常常的牵挂；有一种牵挂，是远远地欣赏。不是所有的梦都能实现；不是所有的话都来得及告诉；不是所有的爱都有结果。请为爱珍重，等到你的发丝有了白雪的痕迹，还能记起曾有这么一段美好，还有这么一个让自己怀念的人，何尝不是一种幸福。</p>-->
        <!--<p>2)-->
            <!--忘记一个人，并非不再想起，而是偶尔想起，心中却不再有波澜。真正的忘记，是不需要努力的。每个人的电话本里，都会有那么一个你永远不会打，也永远不会删的号码；每个人的心里，都会有那么一个你永远不会提，也永远不会忘的人。</p>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="blog">-->
    <!--<h2>Miss</h2>-->
    <!--<ul>-->
        <!--<img src="/static/images/02.jpg">-->
        <!--<h3 class="title"><a href="http://www.yangqq.com/news/read/2013-06-11/212.html" id="pic02">丢弃需要勇气，珍藏需要空间</a>-->
        <!--</h3>-->
        <!--<p>3) 人活在世上总是有太多的牵绊，太多的不舍，因为那些旧东西烙上了昨日的欢痕，所以总是狠不下心来。丢弃需要勇气，珍藏需要空间。放弃一个很爱你的人，并不痛苦。-->
            <!--放弃一个你很爱的人，那才痛苦。爱上一个不爱你的人，那是更痛苦。不要因为寂寞而错爱，不要因为错爱而寂寞一生。</p>-->
        <!--<p>4)-->
            <!--爱一个人而那个人不爱你是很让人难受的，但更痛苦的是，爱一个人，却永远都没勇气告诉他。每个人都有潜在的能量，只是很容易：被习惯所掩盖，被时间所迷离，被惰性所消磨。能冲刷一切的除了眼泪，就是时间，以时间来推移感情，时间越长，冲突越淡，仿佛不断稀释的茶。得不到你所爱的，就爱你所得的。</p>-->
    <!--</ul>-->
<!--</div>-->
<!--<div class="blog">-->
    <!--<h2>Happiness</h2>-->
    <!--<ul>-->
        <!--<img src="/static/images/03.jpg">-->
        <!--<h3 class="title"><a href="http://www.yangqq.com/news/read/2013-06-11/212.html" id="pic03">假装快乐，是不想让人看出孤独；假装高兴，是不想让人看见伤口</a>-->
        <!--</h3>-->
        <!--<p>5) 愈害怕失去的人，愈容易失去。愈想得到，就愈要放手。 放手是很难的，但是别无选择。 世上有很多东西是可以挽回的，比如良知，比如体重。 但不可挽回的东西更多，譬如旧梦，譬如岁月，譬如对一个人的感觉。-->
            <!--放弃一个很爱你的人并不痛苦，放弃一个你很爱的人才是痛苦。</p>-->
        <!--<p>6)-->
            <!--假装坚强，是不想让人看到眼泪；假装开心，是不想让人知道寂寞；假装快乐，是不想让人看出孤独；假装高兴，是不想让人看见伤口；假装甜蜜，是不想让人看见泪水；假装轻松，是不想让人发觉心酸；假装幸福，是不想让人看见疤痕；假装成熟，是不想让人看出无知；假装聪明，是不想让人看到失败。</p>-->
    <!--</ul>-->
<!--</div>-->
</article>
<footer id="copright">Design by <a href="#" target="_blank">DanceSmile</a></footer>
</body>
</html>
