
<#include  "header.html" />

<body class="multi default">
<div id="divAll">
    <div id="divPage">
        <div id="divMiddle">

            <#include  "nav.html" />

            <div id="divMain">
                <#list articles as a>
                    <div class="post multi-post cate2 auth1">
                        <h4 class="post-date">${a.created ? string('yyyy:MM:dd HH:mm:ss')}</h4>
                        <h2 class="post-title"><a href="/article/toArticleInfo?id=${a.id}">${a.title}</a></h2>
                        <div class="post-body">
                            <p>${a.smallcontent}<br/></p>
                            <!-- 图片 start -->
                            <!--<p style="text-indent: 0em;">-->
                                <!--<a title="" target="_self" href="#post/75.html">-->
                                    <!--<img src="images/2018021074509417.jpg" title="" alt=""/>-->
                                <!--</a>-->
                            <!--</p>-->
                            <!-- 图片 end-->
                        </div>
                        <h5 class="post-tags">Tags:
                            <span class="tags">
                                <a href="#catalog.asp?tags=%E7%94%9F%E6%B4%BB">生活</a>&nbsp;&nbsp;
                                <a href="#catalog.asp?tags=%E5%BF%83%E6%83%85">心情</a>&nbsp;&nbsp;
                            </span>
                        </h5>
                        <h6 class="post-footer">
                            发布:${a.author} | 分类:${a.type} | 评论:11 | 浏览:<span id="spn76">${a.browse}</span>
                            | <a href="#post/76.html">阅读全文 > </a>
                        </h6>
                    </div>
               </#list>
                <!-- 文章显示 end-->

                <!-- 分页 -->
                <div class="post pagebar">
                    <a href="#"><span class="page first-page">&laquo;</span></a>
                    <span class="page now-page">1</span>
                    <a href="#catalog.asp?page=2"><span class="page">2</span></a>
                    <a href="#catalog.asp?page=3"><span class="page">3</span></a>
                    <a href="#catalog.asp?page=4"><span class="page">4</span></a>
                    <a href="#catalog.asp?page=5"><span class="page">5</span></a>
                    <a href="#catalog.asp?page=6"><span class="page">6</span></a>
                    <a href="#catalog.asp?page=7"><span class="page">7</span></a>
                    <a href="#catalog.asp?page=7"><span class="page last-page">&raquo;</span></a>
                </div>

            </div>
            <div id="divSidebar">
                <dl class="function" id="divSearchPanel">
                    <dt class="function_t">搜索</dt>
                    <dd class="function_c">
                        <div>
                            <div style="padding:0.5em 0 0.5em 1em;">
                                <form method="post" action="#zb_system/cmd.asp?act=Search"><input type="text" name="edtSearch" id="edtSearch" size="12"/> <input type="submit" value="提交" name="btnPost" id="btnPost"/></form>
                            </div>
                        </div>
                    </dd>
                </dl>
                <!-- 标签分类 start-->
                <dl class="function" id="divTags">
                    <dt class="function_t">按标签浏览</dt>
                    <dd class="function_c">
                        <ul>
                            <#list tags as t>
                                <li class="tag-name tag-name-size-2"><a href="#catalog.asp?tags=%E8%A7%89%E6%82%9F">${t.tagname}<span class="tag-count"> (18)</span></a></li>
                            </#list>
                        </ul>
                    </dd>
                </dl>
                <!-- 标签分类 end-->

                <!-- 最新留言  start-->
                <dl class="function" id="divComments">
                    <dt class="function_t">最新留言</dt>
                    <dd class="function_c">
                        <ul>
                            <li style="text-overflow:ellipsis;"><a href="#post/76.html#cmt1492"
                                                                   title="2018-10-25 20:22:16 游客1">站在世界某一个角落，看着日出日落 。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/68.html#cmt1491"
                                                                   title="2018-10-25 20:22:16 游客1">轻轻拂去岁月的尘埃，打开历久弥新的宋词，氤氲在词中的聚散离合、爱恨情仇，浓得像一杯化不开的咖啡。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/77.html#cmt1490"
                                                                   title="2018-10-25 20:22:16 游客1">多少次轻颦回眸，没有你在，无声的空旷刺疼了眼。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#guestbook.html#cmt1488"
                                                                   title="2018-10-25 20:22:16 游客1">谁在岁月里长长叹息。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/76.html#cmt1487"
                                                                   title="2018-10-25 20:22:16 游客1">懂得取舍吧，最好留有后路、</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/77.html#cmt1486"
                                                                   title="2018-10-25 20:22:16 游客1">生命，并不是你活了多少日子，而是你记住了多少日子，要使你过的每一天，都值得回忆。在最需要奋斗的年华里，你应该爱一个能带给你动力的人，而不是能让你筋疲力尽的人。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/77.html#cmt1485"
                                                                   title="2018-10-25 20:22:16 游客1">我们都在寻找最合适的那个人，去没人愿意改变自己，成为合适对方的人。人生许多时段，靠的不是霹雳一声的突破，而是在做事中熬。不管多难熬，人生都要眉眼带笑。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/77.html#cmt1484"
                                                                   title="2018-10-25 20:22:16 游客1">如果我们每天就浑浑噩噩地耗着，耗在琐碎的庸常里，今天担心他有没有上交友软件，明天争论他不及时回消息是不是不爱你，便很容易活得流于表面，甚至活得越来越浅。</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/76.html#cmt1483"
                                                                   title="2018-10-25 20:22:16 游客1">人生确实就是个赌局，就看赌注和勇气大小了</a>
                            </li>
                            <li style="text-overflow:ellipsis;"><a href="#post/74.html#cmt1482"
                                                                   title="2018-10-25 20:22:16 游客1">长大了，烦恼也就多了</a>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!-- 最新留言  end-->

                <!-- 友情链接 start-->

                <#include  "link.html" />
                <!-- 友情链接 end-->

                <!-- 关注 start -->
                <dl class="function" id="divMisc">
                    <dt class="function_t">分享到：</dt>
                    <dd class="function_c">
                        <ul>
                            <li>
                                <img src="/static/images/weixin.jpg" height="110" width="110" border="0" alt="微信公众平台" title="微信扫一扫，关注梦月最新消息。"/>
                            </li>
                            <li><!-- Baidu Button BEGIN -->
                                <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a
                                        title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a
                                        title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a><a
                                        title="分享到百度贴吧" href="#" class="bds_tieba" data-cmd="tieba"></a><a
                                        title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a></div>
                                <script>window._bd_share_config = {
                                    "common": {
                                        "bdSnsKey": {},
                                        "bdText": "",
                                        "bdMini": "2",
                                        "bdMiniList": ["sqq", "weixin", "qzone", "tsina", "tieba", "douban"],
                                        "bdPic": "",
                                        "bdStyle": "0",
                                        "bdSize": "16"
                                    }, "share": {}
                                };
                                with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                                <!-- Baidu Button END -->
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!-- 关注 end -->
            </div>

             <#include  "footer.html" />

            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!-- dd BEGIN -->
<script language="JavaScript1.2">
    var typ = ["marginTop", "marginLeft"], rangeN = 10, timeout = 0;

    function shake(o, end) {
        var range = Math.floor(Math.random() * rangeN);
        var typN = Math.floor(Math.random() * typ.length);
        o["style"][typ[typN]] = "" + range + "px";
        var shakeTimer = setTimeout(function () {
            shake(o, end)
        }, timeout);
        o[end] = function () {
            clearTimeout(shakeTimer)
        };
    }
</script>
<!-- dd END -->
</body>
</html><!-- 16ms -->