<dl class="function" id="divLinkage">
    <dt class="function_t">友情链接</dt>
    <dd class="function_c">
        <ul>
            <li>
                <a href="https://www.liaoxuefeng.com/" target="_blank">廖雪峰的官方网站</a>　
                <a href="https://blog.csdn.net/ityouknow/" target="_blank">纯洁的微笑博客</a>　
                <a href="https://blog.csdn.net/qq_37162911" target="_blank">大神博客</a>　
            </li>
            <li>
                <a href="http://www.jq22.com/" target="_blank">jQuery插件库</a>　
                <a href="https://v3.bootcss.com/" target="_blank">Bootstrap中文文档</a>　
            </li>
            </li>
            <li>
                <a href="http://www.atguigu.com/" rel="external nofollow" target="_blank">下载视频</a>　
            </li>
            <li>
                <a href="#t/post-18.html" target="_blank" title="申请链接"><span style="color:#006000;">交换友情链接</span></a>
            </li>
        </ul>
    </dd>
</dl>