<!doctype html>
<html>
<#include "/head.html">

<body id="blog">
<#include "/nav.html">
<hr>

<!-- banner start -->
<#include "/banner.html">
<!-- banner end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-8 am-u-sm-12">
        <#list logs as l>
            <article class="am-g blog-entry-article">
                <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 blog-entry-text blog-text-center">
                    <span><a href="" class="blog-color">文章 &nbsp;</a></span>
                    <span>${(l.createTime?string("yyyy-MM-dd HH:mm:ss"))!} </span>
                    <span>${l.readingvolume}</span>
                    <h1><a href="/toInfo">${l.title}</a></h1>
                    <p>${l.crux}</p>
                    <p><a href="" class="blog-continue">continue reading</a></p>
                </div>
            </article>
        </#list>

        <ul class="am-pagination">
          <li class="am-pagination-prev"><a href="javaScript:alert('这个还不能点哦')">&laquo; Prev</a></li>
          <li class="am-pagination-next"><a href="javaScript:alert('这个还不能点哦')">Next &raquo;</a></li>
        </ul>
    </div>

    <#include "/rightnav.html">
</div>
<!-- content end -->
<#include "/footer.html">
</body>
</html>