<div id="divTop">
    <h1 id="BlogTitle"><a href="#"><img src="/static/images/LOGO.gif" alt="你我"
                                        onMouseover="shake(this,'onmouseout')"/></a></h1>
    <!-- <h3 id="BlogSubTitle">www.Youmew.com</h3> -->
</div>

<div id="divNavBar">
    <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="#" title="分享技术文章">文章</a></li>
        <li><a href="#" title="">读书</a></li>
        <li><a href="#" target="_blank" title="">感悟</a></li>
        <li><a href="#" title="">留言版</a></li>
        <li><a href="/house/toHouseResorces" title="房源">房源</a></li>
    </ul>
</div>