<div id="divTop">
    <h1 id="BlogTitle"><a href="#"><img src="/static/images/LOGO.gif" alt="你我"
                                        onMouseover="shake(this,'onmouseout')"/></a></h1>
    <!-- <h3 id="BlogSubTitle">www.Youmew.com</h3> -->
</div>

<div id="divNavBar">
    <ul>
        <li><a href="index.html">首页</a></li>
        <li><a href="article.html" title="感悟生活点滴">文章</a></li>
        <!--<li><a href="list.html" title="光与影的艺术">光影斑斓</a></li>-->
        <li><a href="search.html" title="一切有为法，如梦幻泡影，如露亦如电，应作如是观。">读书</a></li>
        <li><a href="tags.html" target="_blank" title="">感悟</a></li>
        <li><a href="#" title="沟通从这里开始">留言版</a></li>
    </ul>
</div>