<!doctype html>
<html>
<#include "/head.html">

<body id="blog-article-sidebar">
<!-- nav start -->
<#include "/nav.html">
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <h1 class="blog-text-center">-- 存档 --</h1>
        <div class="timeline-year">
        <ul>
            <li>
                <span class="am-u-sm-4 am-u-md-2 timeline-span">时间</span>
                <span class="am-u-sm-8 am-u-md-6"><a href="#">标题</a></span>
                <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">文章</span>
                <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">作者</span>
            </li>
        </ul>

        </div>
        <#list timemachines?keys as k>
            <div class="timeline-year">
            <h1>>${k}</h1>
            <hr>
                <#assign maps = timemachines[k]>
                <#list maps?keys as ks>
            <ul>
                <h3>${ks}</h3>
                <#assign item = maps[ks]>
                <#list item as l>
                    <hr>
                    <li>
                        <span class="am-u-sm-4 am-u-md-2 timeline-span">${(l.createTime?string("yyyy-MM-dd HH:mm:ss"))!}</span>
                        <span class="am-u-sm-8 am-u-md-6"><a href="/toInfo?id=${l.id}">${l.title}</a></span>
                        <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">文章</span>
                        <span class="am-u-sm-4 am-u-md-2 am-hide-sm-only">${l.author}</span>
                    </li>
                <br>
                </#list>
            </ul>
            <br>
            </#list>

        </div>
        </#list>
        <hr>
    </div>
</div>
<!-- content end -->
<#include "/footer.html">
</body>
</html>